@charset "UTF-8";

/*Mobile Firts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab','Times New Roman', Times, serif;
}

:root{
    --cor-padrao: #5D3A38;
    --cor-contraste: #6D695E;
    --cor-destaque: #3D0B08;
} 

body{
    background-color:var(--cor-padrao) ;
}

main{
    background-color: white;
    width: 50vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    padding:15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.534);
}

#login h1{
    text-align: center;
    margin: 10px;
    font-size: 2em;
}

#login p{
    text-align: justify;
    margin-bottom: 25px;
    text-indent: 20px;
}

#ipasw,#itext{
    display: block;
    margin: 10px 0px 10px 0px;
}

input{
    margin-top: 15px;
}


#imagem{
    background-color: #3d0b08a9;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid var(--cor-contraste);
}

#imagem img{
    display: block;
    margin: auto;
}

